<?xml version="1.0" encoding="UTF-8" ?>
<odoo>

    <menuitem id="menu_vidmeet_root"
              name="Video Meeting"
              web_icon="video_meeting,static/description/icon.jpg"
              action=""
              groups=""
              sequence="-11"/>

    <menuitem id="menu_configuration_master"
              name="Configurations"
              parent="menu_vidmeet_root"
              action=""
              groups=""
              sequence="100"/>

</odoo>